
    /* FEEDBACK SECTION */
  
  .feedback-box-container {
      margin-top: 50px;
      max-width: 800px;
      margin: 50px auto;
      padding: 0 20px; /* Add padding for small screens */
    }
    
    .feedback-box {
      display: flex;
      flex-direction: row;
      border: 1px solid #185F43;
      border-radius: 10px;
      padding: 20px;
      background-color: #f9f9f9;
      box-sizing: border-box;
    }
    
    .feedback-box img {
      max-width: 50%;
      height: auto;
      border-radius: 10px;
      margin-right: 20px;
      object-fit: cover;
    }
    
    .feedback-form-wrapper {
      flex: 1;
      padding-left: 20px;
    }
    
    .feedback-title {
      margin: 30px 0;
      font-size: 20px;
      font-weight: bold;
      color: #185F43;
    }
    
    .form-field {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    
    .form-field label {
      display: block;
      margin-bottom: 8px;
    }
    
    .star-rating {
      display: flex;
      gap: 5px;
      color: gray;
    }
    
    .star-rating i {
      font-size: 24px;
      cursor: pointer;
    }
    
    .star-rating i.selected {
      color: gold;
    }
    
    .error-message {
      color: red;
      display: none;
    }
    
    .submit-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #185F43;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 20px;
    }
    
    .submit-button:hover {
      background-color: #144d34;
    }
    
    /* Responsive Design */
    @media (max-width: 768px) {
      .feedback-box {
        flex-direction: column; /* Stack items vertically */
      }
    
      .feedback-box img {
        max-width: 100%; /* Take full width on smaller screens */
        margin-right: 0;
        margin-bottom: 20px; /* Add space between image and form */
      }
    
      .feedback-form-wrapper {
        padding-left: 0; /* Remove padding for smaller screens */
      }
    
      .feedback-title {
        font-size: 18px;
        text-align: left; /* Center align the title */
      }
    
      .submit-button {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 8px;
      }
    }
    
  
    
  
   