/* General Styles */
body {
    margin: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

/* Superadmin Header */
.superadmin-header {
    background-color: #185F43;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 70px;
}

.superadmin-logo {
    display: flex;
    align-items: center;
}

.superadmin-logo .text-container {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    color: #ffffff;
    margin: 8px 10px 0 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/* Notification and user account positioning */
.d-flex.align-items-center.ms-auto {
    margin-left: auto;
    margin-right: 20px;
}

.bi-bell,
.bi-person-circle {
    font-size: 1.5rem;
}

/* Superadmin Sidebar */
.superadmin-sidebar {
    width: 250px;
    background-color: #0C2517;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
    border: #000000;
}

/* Sidebar Navigation */
.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
}

.nav-item {
    border: 1px groove;
    font-size: 15px;
    box-shadow: 1px 2px inset;
}

.nav-link {
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: background 0.3s, color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: #05ec71;
    color: #fff;
}

.nav-link i {
    margin-right: 10px;
}

.nav-link:focus,
.nav-link:active {
    color: #fff;
    background-color: #000000;
}

/* Sidebar ID styling */
#sidebar {
    min-width: 280px;
    max-width: 280px;
    background-color: #15283c;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4);
    background-image: url('images/layout_img/pattern_h.png');
}

/* Dropdown Menu */
.dropdown-menu {
    min-width: 150px;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    transition: background-color 0.3s;
    padding: 6px 15px;
}

.dropdown-item:hover {
    background-color: #05ec71;
    color: #fff;
}

.dropdown-toggle {
    padding: 8px 12px;
}

/* Logout Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #D9D9D9;
    padding: 60px 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid #0C2517;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    z-index: 900;
}

.popup img {
    width: 15%;
    margin: -25% 0 -10% 0;
}

.popup h2 {
    color: #185F43;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup button {
    margin: 20px 50px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #d53d3d;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 2px 2px #888888;
    border-color: #000000;
}

.cancel-btn:hover {
    background-color: #c82333;
}

.login-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #44B678;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 2px 2px #888888;
    border-color: #000000;
}

.login-btn:hover {
    background-color: #05ec71;
}


*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: linear-gradient(133deg, #171f1a, #3c57d2);
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
#htmlcapture{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	
}
h1{
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
.x-box{
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color:green;

	background:repeating-conic-gradient(
		from 0deg,
		#ff264a 0deg calc(3.6deg * 35),
		#feec1e calc(3.6deg * 35) calc(3.6deg * 70),
		#12CBC4 calc(3.6deg * 70) calc(3.6deg * 100)
	);
}
.x-box-cont{
	font-size: 30px;
	padding-left: 50px;
	width: 600px;
}
.x-box-cont h1{
	font-size: 30px;
	text-transform: uppercase;
}
.x-box-cont strong{
	display: block;
	margin-bottom: 15px;
}
button{
	width: 300px;
	margin:30px auto 0;
	text-align: center;
	position: relative;
	padding: 15px;
	color: #fff;
	background-color: #000;
	border-radius: 25px;
	display: block;
	font-size: 22px;
}
