/* General Styles */
body {
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Superadmin Header */
.superadmin-header {
  background-color: #185F43; /* Header background color */
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Set fixed header height */
}

.logo {
  height: 50px;
}

.superadmin-logo {
  display: flex;
  align-items: center;
}

.superadmin-logo .text-container {
  margin-left: 10px;
}

h5, p {
  margin: 0;
}

/* Header Navigation */
.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Superadmin Sidebar */
.superadmin-sidebar {
  position: fixed;
  top: 60px; /* Adjust for header height */
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: #185F43; /* Same background color as header */
  color: #fff;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust to take full height minus header */
  padding: 0; /* Remove any padding */
  margin-top: 0; /* Ensure it starts directly below the header */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 999;
}

/* Sidebar Navigation */
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}

.nav-item {
  margin-bottom: -1px;
}

.nav-link {
  color: #fff; /* Original text color */
  padding: 12px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;

  transition: background 0.3s, color 0.3s;
  width: 100%; /* Ensure the nav items take up the full width */
  height: 45px; /* Match the height of the header */
}

.nav-link:hover {
  background-color: #3c8c6b;
  color: #fff;
}

.nav-link i {
  margin-right: 10px;
}

.nav-item .active {
  background-color: #3c8c6b;
}

/* Main content area */
.superadmin-main-content {
  margin-left: 280px;
  margin-top: 80px; /* Ensure content doesn't go under the fixed header */
  padding: 20px;
  overflow: auto;
}
